.post-float {
  background-color: var(--base-color);
  &:hover {
    background-color: var(--base-color);
    filter: brightness(1.2);
  }
  .custom-mid {
    font-size: 2.4rem;
  }
}

.loader {
  .cont {
    text-align: center;
    p {
      margin: 0;
    }
    .down {
      transform: rotate(135deg);
    }
    .up {
      transform: rotate(-45deg);
    }
  }
}

body {
  overscroll-behavior: none;
}
