.login-form {
  margin-top: 30px;
  a {
    color: #039be5 !important;
  }
  .input-field {
    margin-bottom: 1.2rem;
  }
  .err {
    color: red;
    font-size: 0.8rem;
  }
}

.signup {
  float: right;
}

@media only screen and (max-width: 600px) {
  .login-form {
    a {
      width: 100%;
      text-align: center;
    }
    button {
      width: 100%;
    }
  }
}
