.modal.bottom-sheet {
  margin: inherit;
  width: inherit;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--content-color);
  .modal-content {
    padding: 10px 24px;
    padding-bottom: 0;
    h5 {
      margin: 0.5rem 0;
    }
    textarea {
      &:focus {
        outline: thick;
      }
      height: 8rem;
      resize: none;
    }
  }
  .modal-footer {
    background-color: var(--content-color);
    span {
      font-size: 10px;
      strong {
        font-size: 11px;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal.bottom-sheet {
    @each $p in height, max-height, width {
      #{$p}: 100%;
    }
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    .modal-footer span {
      display: none;
    }
  }
}
