.nav-link-btn {
  height: inherit;
  line-height: inherit;
  color: inherit;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

nav {
  background-color: var(--base-color);
  a {
    color: var(--content-color);
  }
  .nav-wrapper {
    padding: 0 15px;
    .heading {
      position: absolute;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 0;
    }
    .logout-link {
      button {
        @extend .nav-link-btn;
      }
    }
    .dark-mode {
      button {
        @extend .nav-link-btn;
        i {
          transform: rotate(45deg);
          // color: var(--text-color);
          line-height: inherit;
          height: inherit;
        }
      }
    }
    .login-link {
      a {
        .material-icons-outlined {
          line-height: inherit;
          height: inherit;
        }
      }
    }
  }
}
