nav {
  background-color: var(--base-color);
  a {
    color: var(--content-color);
  }
  .nav-wrapper {
    padding: 0 15px;
    .heading {
      position: absolute;
      color: #fff;
      display: inline-block;
      font-size: 2.1rem;
      padding: 0;
    }
    .dark-mode {
      button {
        height: inherit;
        line-height: inherit;
        color: inherit;
        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }
        i {
          transform: rotate(45deg);
          // color: var(--text-color);
          line-height: inherit;
          height: inherit;
        }
      }
    }
  }
}
