// ! use native css variables for instant repaint
// light theme
:root {
  --base-color: #fd746c;
  --content-color: #fff;
  --text-color: #000000de;
}
// dark theme
[data-theme='dark'] {
  // --base-color: #393939;
  --content-color: #2d2d2d;
  --text-color: #fff;
  color: $textColorDark;
  .card {
    border: 1px solid #4a4e51;
    i,
    p {
      color: $textColorDark;
    }
    .card-action * {
      color: $textColorDark !important;
    }
  }
  .drop-item span,
  .modal * {
    color: $textColorDark;
  }
}

body {
  background-color: var(--content-color);
}

html,
body {
  height: 100%;
}

.main-content {
  margin-top: 10px !important;
  .custom-btn {
    background-color: var(--base-color);
    &:hover {
      background-color: rgb(255, 147, 142);
    }
  }
  /* input:focus {
    border-bottom: 1px solid var(--base-color) !important;
    box-shadow: 0 1px 0 0 var(--base-color) !important;
  } */
  @each $v in appear, enter {
    .slide-#{$v} {
      transform: translate3d(-200%, 0, 0);
    }
    .slide-#{$v}-active {
      transform: translate3d(0, 0, 0);
      transition: transform 0.7s;
    }
  }
  .slide-exit-active {
    transform: translate3d(-200%, 0, 0);
    position: fixed;
    transition: transform 0.5s;
  }
  @each $v in appear, enter {
    .slide-up-#{$v} {
      @include slideUpHide();
    }
    .slide-up-#{$v}-active {
      transform: translate3d(0, 0, 0);
      transition: transform 0.7s;
    }
  }
  .slide-up-exit-active {
    transform: translate3d(0, 200vh, 0);
    width: 85%;
    position: fixed;
    transition: transform 0.5s;
  }
}

.flexed {
  display: flex;
  padding: 0 10px;
  flex-direction: column-reverse;
  .card {
    background-color: var(--content-color);
    .more-details {
      position: absolute;
      right: 3px;
      padding: 2px;
    }
    .dropdown-content {
      background-color: var(--content-color);
      li {
        background-color: var(--content-color);
        filter: brightness(1.45);
        &:hover {
          filter: brightness(1.25);
        }
      }
      .drop-item {
        background: transparent;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        text-align: left;
        span {
          vertical-align: super;
        }
      }
    }
  }
  .item-enter {
    opacity: 0;
    // background-color: #ccf9ff;
    background-color: var(--base-color);
    transform: scale(1.1);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.4s;
  }
  .item-enter-done {
    background-color: var(--content-color);
    transition: background-color 0.3s ease 0.2s;
  }
  .item-exit {
    // opacity: 1;
    background-color: red;
  }
  .item-exit-active {
    animation: scale-out-ver-top 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}

form {
  margin-top: 30px;
  .input-field {
    margin-bottom: 1.2rem;
    a {
      color: #039be5 !important;
    }
    .err {
      color: red;
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  form {
    button {
      width: 100%;
    }
  }
}
