.main-content {
  margin-top: 10px !important;
}

.flexed {
  display: flex;
  padding: 0 10px;
  flex-direction: column-reverse;
  .card {
    background-color: var(--content-color);
    .more-details {
      position: absolute;
      right: 3px;
      padding: 2px;
    }
    .dropdown-content {
      background-color: var(--content-color);
      li {
        background-color: var(--base-color2);
        filter: brightness(1.45);
        &:hover {
          filter: brightness(1.25);
        }
      }
      .drop-item {
        background: transparent;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        text-align: left;
        span {
          vertical-align: super;
        }
      }
    }
  }
  .item-enter {
    opacity: 0;
    background-color: #ccf9ff;
    transform: scale(1.1);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s, transform 0.4s;
  }
  .item-enter-done {
    background-color: var(--content-color);
    transition: background-color 0.3s ease 0.2s;
  }
  .item-exit {
    opacity: 1;
    background-color: red;
    * {
      visibility: hidden;
    }
  }
  .item-exit-active {
    opacity: 0;
    transform: scaleY(0);
    transition: transform 400ms, opacity 400ms;
  }
}

#toast-container {
  .created-toast {
    // background-color: #64b3f4;
  }
}
