.main-content {
  margin-top: 10px !important;
}

.flexed {
  display: flex;
  flex-direction: column-reverse;
  .item-enter {
    opacity: 0;
    background-color: #ccf9ff;
    transform: scale(0.9);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0);
    background-color: unset;
    transition: background-color 6000ms, opacity 400ms, transform 400ms;
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    opacity: 0;
    transition: opacity 1500ms ease-in;
  }
}
