// ! use native css variables for instant repaint

$test: red;
// light theme
:root {
  --base-color: #fd746c;
  --base-color2: #fff;
  --content-color: #fff;
}
// dark theme
[data-theme='dark'] {
  // font-weight: 500;
  --base-color: #263238;
  --base-color2: #455a64;
  --content-color: #b0bec5;
}

body {
  background-color: var(--base-color2);
}

html,
body {
  height: 100%;
}
